/* your custom css */

.headerTitleWithLogo {
    visibility: hidden;
}

.headerTitleWithLogo:after{
    content: "Lf Open Source Leaderboard";
    visibility: visible;
}

.docMainWrapper.wrapper {
    margin: 0 auto;
}

.postHeaderTitle {
    display: none;
}


.navGroup{
    visibility: hidden;
}

.headerWrapper header img {
    display:none;
}

.wrapper {
    width: 100%;
    margin: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}